# Currency Tool Configuration
REDIS_URL=redis://localhost:6379
PORT=8097
NAMESPACE=truvag3-examples
APP_ENV=development
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
DEV_MODE=true
TRUVAG3_LOG_LEVEL=info
TRUVAG3_LOG_FORMAT=text
